* {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  background-color: #4a7da0;
}

.nav-bar {
  background-color: #e9bb62;
}

.nav-bar-content {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.logo {}

.nav-list {
  display: flex;
  list-style: none;
}

.link {
  margin: 0px 20px;
  font-size: small;
}

.img-background {
  display: grid;
  justify-content: space-around;
}

.link:active {
  text-decoration: none
}

.link:link {
  text-decoration: none;
}

.link:visited {
  text-decoration: none;
}

.barra-pesquisa {
  text-align: center;
  border: none;
  height: 20px;
  width: 180px;
}

#principal {
  display: flex;
  justify-content: space-evenly;
}

.livros {
  display: grid;
}

.livros-destaque {
  display: flex;
  list-style: none;
}

.books {
  display: grid;
  justify-content: center;
  margin: 0px 20px;
}

.livros-imagem {
  width: 174px;
  height: 270px;
  display: block;
  border: 1px solid #000000;
  margin: 0 0 9px;
}

.button-livro:active {
  text-decoration: none
}

.button-livro:link {
  text-decoration: none;
}

.button-livro:visited {
  text-decoration: none;
}

.button-livro {
  background-color: #e9bb62;
  max-width: 174px;
  max-height: 30px;
  display: grid;
  align-items: center;
  justify-content: center;
}

.titulo-livros {
  font-size: 15px;
  line-height: 18px;
  margin: 0 0 7px;
  padding: 0;
  color: #e9bb62;
  max-width: 174px;
}

.categorias {
  height: 100px;
  width: 100px;
  background-color: #e9bb62;
}